.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
}
.users {
  padding: 20px;
}

.dialog {
  color: #838493;
}
.dialog.active {
  color: #fff;
}
.messages {
  padding: 20px;
}
.messageItem {

}
