.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  display: grid;
  background: purple;
}
.dialog {
  color: #fff;
}
.active {
  background:red;
}
.activeLink {
  color: #838493;
}
.messagesItems {
  background:green;
}