.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  display: grid;
  background: purple;
}
.dialogsItem {
  margin-bottom: 30px;
}
.dialog {
  color: #fff;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.active {
}
.activeLink {
  color: #838493;
}
.messagesItems {
  background:green;
}