@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background:#2c2c6a;
  color: #fff;
}

.app-wrapper {
  display: grid;
  grid-template-columns:200px 1fr;
  grid-template-rows: 100px 1fr;
 grid-template-areas: "header header"
                      "nav profile";
}

.app-wrapper-content {
  background: #1c1e48;
  grid-area: "profile";
  border-top-left-radius: 5px;
}


